extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .container.my-5
        .card.form-card
            h2(class="mb-4 text-center") Thêm mới tài khoản
            form(
                action=`${prefixAdmin}/accounts/create` 
                id="form-create-account" 
                method="POST" 
                enctype="multipart/form-data" 
                form-upload
            )
                .row
                    .col-md-6
                        .form-group
                            label Họ tên *
                            .action-box
                                input(type="text" class="form-control" name="fullname" required)
                    .col-md-6
                        .form-group
                            label Email *
                            .action-box
                                input(type="email" class="form-control" name="email" required)
                
                .row
                    .col-md-6
                        .form-group
                            label Mật khẩu *
                            .action-box
                                input(type="password" class="form-control" name="password" required)
                    .col-md-6
                        .form-group
                            label Số điện thoại
                            .action-box
                                input(type="text" class="form-control" name="phone")

                .row
                    .col-md-6
                        .form-group
                            label Phân quyền
                            .action-box
                                select(name="role_id" class="form-control")
                                    option(disabled selected) -- Chọn vai trò --
                                    each role in roles
                                        option(value=role._id) #{role.title}
                    .col-md-6
                        .form-group
                            label Trạng thái
                            .action-box
                                .d-flex.gap-3.mt-2
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked)
                                        label(for="statusActive" class="form-check-label") Hoạt động
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="statusInActive" name="status" value="inactive")
                                        label(for="statusInActive" class="form-check-label") Dừng hoạt động

                .row
                    .col-md-6
                        .form-group(upload-image)
                            label Avatar
                            input(type="file" class="form-control-file" name="avatar" accept="image/*" upload-image-input)
                            .box-image
                                img(src="", upload-image-preview class="image-preview")
                                button(type="button" class="btn-remove-image") ×

                .text-right.mt-4.text-center
                    button(type="submit" class="btn btn-primary px-5") Tạo mới