extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/show-alert.pug

block main
    if(role.permissions.includes("account_view"))
        +alert-success(5000)
        .card.mb-3
            h3.text-center Quản lý tài khoản
            .card-body
                .row.align-items-center.action-box
                    .col-lg-12.text-lg-right
                        if(role.permissions.includes("account_create"))
                            a(href=`${prefixAdmin}/accounts/create` class="btn btn-success")
                                i.fa.fa-plus.mr-2
                                |  Thêm mới

        .card.mb-3
            .card-header Danh sách tài khoản
            .card-body
                .table-responsive
                    table(class="table table-hover table-sm")
                        thead
                            tr
                                th.text-center STT
                                th.text-center Avatar
                                th.text-center Họ tên
                                th.text-center Phân quyền
                                th.text-center Email
                                th.text-center Trạng thái
                                th.text-center Người tạo
                                th.text-center Người sửa
                                th.text-center Hành động
                        tbody
                            if(accounts.length > 0)
                                each item, index in accounts
                                    tr.text-center
                                        td #{index + 1}
                                        td
                                            img(
                                                src=(item.avatar ? item.avatar : "/admin/images/avatar-default.png"), 
                                                alt=item.fullname, 
                                                width="50px", 
                                                height="50px",
                                                style="object-fit: cover; border-radius: 50%"
                                            )
                                        td.font-weight-bold #{item.fullname}
                                        td
                                            span.badge.badge-info #{item.role_id ? item.role_id.title : 'Chưa phân quyền'}
                                        td #{item.email}
                                        td
                                            if(role.permissions.includes("account_edit"))
                                                if item.status == 'active'
                                                    a(
                                                        href="javascript:;" 
                                                        class="badge badge-success" 
                                                        button-change-status 
                                                        data-id=item._id  
                                                        data-status=item.status
                                                        data-next-status="inactive"
                                                    ) Hoạt động
                                                else
                                                    a(
                                                        href="javascript:;" 
                                                        class="badge badge-danger" 
                                                        button-change-status 
                                                        data-id=item._id  
                                                        data-status=item.status
                                                        data-next-status="active"
                                                    ) Dừng hoạt động
                                            else
                                                span.badge #{item.status == 'active' ? 'Hoạt động' : 'Dừng hoạt động'}
                                        
                                        td
                                            if(item.createdBy && item.createdBy.account_id)
                                                p #{item.createdBy.account_id.fullname}
                                                p #{moment(item.createdBy.createdAt).format('DD/MM/YYYY HH:mm:ss')}
                                            else
                                                p Chưa cập nhật
                                        td
                                            if(item.updatedBy && item.updatedBy.length > 0)
                                                p #{item.updatedBy[item.updatedBy.length - 1].account_id.fullname}
                                                p #{moment(item.updatedBy[item.updatedBy.length - 1].updatedAt).format('DD/MM/YYYY HH:mm:ss')}
                                            else
                                                p Chưa cập nhật
                                                
                                        td
                                            .row.justify-content-center.gap-2
                                                a(href=`${prefixAdmin}/accounts/details/${item._id}` class="btn btn-info btn-sm")
                                                    i.fas.fa-eye
                                                if(role.permissions.includes("account_edit"))
                                                    a(href=`${prefixAdmin}/accounts/edit/${item._id}` class="btn btn-warning btn-sm")
                                                        i.fas.fa-edit
                                                if(role.permissions.includes("account_delete"))
                                                    button(class="btn btn-danger btn-sm" button-delete data-id=item._id)
                                                        i.fas.fa-trash
                            else
                                tr
                                    td(colspan="9" class="text-center") Không tìm thấy tài khoản nào.

        form(
            action=""
            method="POST"
            form-change-status
            data-path=`${prefixAdmin}/accounts/change-status`
        ) 
        form(
            action=""
            method="POST"
            form-delete
            data-path=`${prefixAdmin}/accounts/delete`
        )