extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
block main
    +alert-success(5000)
    .container-fluid.my-4
        .row
            .col-12
                h1.mb-4 Quản lý tài khoản

                .card.mb-3
                .card-header 
                    .row.align-items-center
                        .col-md-6
                            h5.mb-0 Danh sách tài khoản
                        .col-md-6.text-right
                            a(
                                href=`${prefixAdmin}/accounts/create`
                                class="btn btn-outline-success btn-sm"
                                ) + Thêm mới

                .card-body
                    table(class="table table-hover table-sm")
                        thead.thead-light
                            tr
                            th STT
                            th Avatar
                            th Họ tên
                            th Phân quyền
                            th Email
                            th Trạng thái
                            th Hành động

                        tbody
                            if(accounts.length > 0)
                                each item, index in accounts
                                    tr
                                    //- STT
                                    td.align-middle #{index + 1}

                                    //- Avatar
                                    td.align-middle
                                        img(
                                        src=(item.avatar ? item.avatar : "/admin/images/avatar-default.png")
                                        alt=item.fullname
                                        width="40px"
                                        height="40px"
                                        style="object-fit: cover; border-radius: 50%;"
                                        )

                                    //- Họ tên
                                    td.align-middle #{item.fullname}

                                    //- Phân quyền (Tên vai trò)
                                    td.align-middle #{item.role_id.title}

                                    //- Email
                                    td.align-middle #{item.email}

                                    //- Trạng thái
                                    td.align-middle
                                        if (item.status === "active")
                                            button(
                                                class="badge badge-success border-0"
                                                button-change-status
                                                data-status=item.status
                                                data-id=item.id
                                            ) Hoạt động
                                        else
                                            button(
                                                class="badge badge-danger border-0"
                                                button-change-status
                                                data-status=item.status
                                                data-id=item.id
                                            ) Dừng hoạt động

                                    //- Hành động
                                    td.align-middle
                                        a(
                                            href=`${prefixAdmin}/accounts/edit/${item.id}`
                                            class="btn btn-warning btn-sm"
                                            ) Sửa
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            button-delete
                                            data-id=item.id
                                            ) Xóa
                                        a(
                                            href=`${prefixAdmin}/accounts/details/${item.id}`
                                            class="btn btn-info btn-sm ml-1"
                                            ) Chi tiết
                            else
                                tr
                                    td(colspan="7" class="text-center py-4") 
                                        em Không tìm thấy tài khoản nào phù hợp.
        form(
            form-change-status
            method="POST"
            action=""
            data-path=`${prefixAdmin}/accounts/change-status`
            )
        form(
            method="POST"
            action=""
            data-path=`${prefixAdmin}/accounts/delete`
            form-delete
            )