include ../mixins/sub-menu.pug
include ../mixins/search.pug
header.header
  .container
    .row.align-items-center
      .col-1
        .inner-logo
          a(href="/")
            if websiteInfor && websiteInfor.logo
              img(src=websiteInfor.logo, alt="Logo" width="40" height="40")
            else
              img(src="/client/images/logo.png", alt="Logo" width="40" height="40")
      .col-3
        .inner-search
          +boxSearch(keyword)
      .col-5
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              -const path = `/products`
              a(href=path) Sản phẩm
                +subMenu(categoryTree,path)
            li 
              a(href="/blog") Bài viết
            li 
              a(href="/contact") Liên hệ
      .col-2
        .inner-user
          if user
            a(href="/user/profile" class="text-dark text-decoration-none")
              i(class="bi bi-person-circle me-2")
              | #{user.fullname} /
            a(href="/user/logout" class="text-dark text-decoration-none ms-2") Đăng xuất
          else
            a(href="/user/login" class="text-dark text-decoration-none") Đăng nhập
            a(href="/user/register" class="text-dark text-decoration-none") Đăng ký
      .col-1
        .inner-cart
          a(
            href="/cart"
            class="d-flex align-items-center text-dark text-decoration-none"
          )
            img(src="/client/images/giohang.png", alt="Cart" width="24" height="24" class="me-1")
            span(class="badge bg-white text-dark") #{miniCartCount ? miniCartCount : 0}
      