extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
include ../../mixins/select-tree.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .container.my-5
        .card.form-card
            h2(class="mb-4 text-center") Chỉnh sửa danh mục sản phẩm
            form(
                action=`${prefixAdmin}/product-categories/edit/${category._id}?_method=PATCH` 
                method="POST" 
                enctype="multipart/form-data"
                form-upload
            )
                .row
                    .col-12
                        .form-group
                            label Tiêu đề
                            input(type="text" class="form-control" name="title" value=category.title required)
                
                .row
                    .col-md-6
                        .form-group
                            label Danh mục cha
                            .action-box
                                select(name="parent_id" class="form-control")
                                    option(value="") -- Chọn danh mục cha --
                                    if (categoryTree)
                                        +select-tree(categoryTree)
                    .col-md-6
                        .form-group
                            label Vị trí
                            .action-box
                                input(type="number" class="form-control" name="position" value=category.position min="1")

                .row
                    .col-12
                        .form-group
                            label Mô tả
                            textarea(class="form-control textarea-mce" name="description" rows="5")= category.description

                .row
                    .col-md-6
                        .form-group(upload-image)
                            label Ảnh
                            input(type="file" class="form-control-file" name="thumbnail" accept="image/*" upload-image-input)
                            .box-image
                                img(src=category.thumbnail upload-image-preview class="image-preview")
                                button(type="button" class="btn-remove-image") ×
                    
                    .col-md-6
                        .form-group
                            label Trạng thái
                            .d-flex.gap-3.mt-2
                                .form-check.form-check-inline
                                    input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked=(category.status === 'active'))
                                    label(for="statusActive" class="form-check-label") Hoạt động
                                .form-check.form-check-inline
                                    input(type="radio" class="form-check-input" id="statusInActive" name="status" value="inactive" checked=(category.status === 'inactive'))
                                    label(for="statusInActive" class="form-check-label") Dừng hoạt động

                .text-right.mt-4
                    button(type="submit" class="btn btn-primary px-5 mr-2") Cập nhật
                    a(href=`${prefixAdmin}/product-categories` class="btn btn-secondary") Quay lại