extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/change-multi.pug
include ../../mixins/show-alert.pug
include ../../mixins/table-tree.pug

block main
    if(role.permissions.includes('product_category_view'))
        +alert-success(3000)
        +alert-error(3000)
        .card.mb-3
            h3.text-center Quản lý danh mục sản phẩm
            .card-body
                .row.align-items-center.mb-3
                    .col-lg-8
                        +boxFilter(filterStatus)
                    .col-lg-4
                        +boxSearch(keyword)
                .row.align-items-center.action-box.mb-3
                    .col-lg-9
                        if(role.permissions.includes("product_category_edit"))
                            +boxChange(`${prefixAdmin}/product-categories/change-multi?_method=PATCH`, 'category')
                    .col-lg-3.text-lg-right
                        if(role.permissions.includes("product_category_create"))
                            a(href=`${prefixAdmin}/product-categories/create` class="btn btn-success")
                                i.fa.fa-plus.mr-2
                                | Thêm mới
                            
        .card.mb-3
            .card-header Danh sách danh mục
            .card-body
                table(class="table table-hover table-sm" check-box-multi)
                    thead
                        tr
                            th
                                input(type="checkbox" name="checkAll")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái
                            th Người tạo
                            th Người sửa
                            th Hành động
                    tbody
                        if categories.length > 0
                            +table-tree(categoryTree)
                        else
                            tr
                                td(colspan="8" class="text-center text-muted") Không có danh mục nào
        form(
        action=""
        method="POST"
        form-change-status
        data-path=`${prefixAdmin}/product-categories/change-status`
    )
    form(
        action=""
        method="POST"
        form-delete
        data-path=`${prefixAdmin}/product-categories/delete`
    )
    script(src="/admin/js/change-multi.js") 
    