extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .container.my-5
        .card.form-card
            h2(class="mb-4 text-center") Chỉnh sửa người dùng
            form(
                action=`${prefixAdmin}/users/edit/${user._id}?_method=PATCH` 
                method="POST" 
                enctype="multipart/form-data" 
                form-upload
            )
                .row
                    .col-12
                        .form-group
                            label Họ tên *
                            input(type="text" class="form-control" name="fullname" value=user.fullname required)
                
                .row
                    .col-md-6
                        .form-group
                            label Email *
                            input(type="email" class="form-control" name="email" value=user.email required)
                    .col-md-6
                        .form-group
                            label Số điện thoại
                            input(type="text" class="form-control" name="phone" value=user.phone)
                
                .row
                    .col-md-6
                        .form-group(upload-image)
                            label Avatar
                            input(type="file" class="form-control-file" name="avatar" accept="image/*" upload-image-input)
                            .box-image
                                img(src=user.avatar upload-image-preview class="image-preview")
                                button(type="button" class="btn-remove-image") ×
                    
                    .col-md-6
                        .form-group
                            label Trạng thái
                            .d-flex.flex-wrap.gap-2.mt-2
                                .form-check.form-check-inline
                                    input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked=(user.status === "active"))
                                    label(for="statusActive" class="form-check-label") Hoạt động
                                .form-check.form-check-inline
                                    input(type="radio" class="form-check-input" id="statusInactive" name="status" value="inactive" checked=(user.status === "inactive"))
                                    label(for="statusInactive" class="form-check-label") Dừng hoạt động

                .text-right.mt-4
                    button(type="submit" class="btn btn-primary px-5 mr-2") Cập nhật
                    a(href=`${prefixAdmin}/users` class="btn btn-secondary") Quay lại