mixin table-tree(items, level = 1, type)
    if items && items.length > 0
        each item in items
            tr
                td
                    input(
                        type="checkbox"
                        name="id"
                        value=item._id
                    )
                td #{item.index}
                td
                    if item.thumbnail
                        img(
                            src=item.thumbnail
                            alt=item.title
                            width="80px"
                            height="auto"
                        )
                    else
                        span.text-muted Không có ảnh
                td
                    - const prefix = Array(level + 1).join("-- ")
                    |#{prefix}#{item.title}
                td
                    input(
                        type="number"
                        value=item.position
                        style="width:60px"
                        min="1"
                        name="position"
                    )
                td
                    if(role.permissions.includes('post_category_edit') || role.permissions.includes('post_category_edit'))
                        if item.status == 'active'
                            a(
                                href="javascript:;" 
                                class="badge badge-success" 
                                button-change-status 
                                data-id=item._id 
                                data-status=item.status 
                                data-next-status="inactive"
                                ) Hoạt động
                        else
                            a(
                                href="javascript:;" 
                                class="badge badge-danger" 
                                button-change-status 
                                data-id=item._id 
                                data-status=item.status 
                                data-next-status="active"
                                ) Không hoạt động
                td
                    if item.createdBy
                        p #{item.createdBy.account_id.fullname}
                        p #{moment(item.createdBy.createdAt).format('DD/MM/YYYY HH:mm:ss')}
                td
                    if item.updatedBy && item.updatedBy.length > 0
                        p #{item.updatedBy[item.updatedBy.length - 1].account_id.fullname}
                        p #{moment(item.updatedBy[item.updatedBy.length - 1].updatedAt).format('DD/MM/YYYY HH:mm:ss')}
                    else
                        p Chưa có cập nhật
                td.text-center
                    if(type === "post_category")
                        .row.justify-content-center.gap-2
                            a(href=`${prefixAdmin}/post-categories/details/${item._id}` class="btn btn-info btn-sm ml-1")
                                i.fas.fa-eye
                            if(role.permissions.includes('post_category_edit'))
                                a(href=`${prefixAdmin}/post-categories/edit/${item._id}` class="btn btn-primary btn-sm ml-1")
                                    i.fas.fa-edit
                            if(role.permissions.includes('post_category_delete') )
                                button(class="btn btn-danger btn-sm ml-1" button-delete data-id=item._id)
                                    i.fas.fa-trash
                    else if(type === "product_category")
                        .row.justify-content-center.gap-2
                            a(href=`${prefixAdmin}/product-categories/details/${item._id}` class="btn btn-info btn-sm ml-1")
                                i.fas.fa-eye
                            if(role.permissions.includes('product_category_edit'))
                                a(href=`${prefixAdmin}/product-categories/edit/${item._id}` class="btn btn-primary btn-sm ml-1")
                                    i.fas.fa-edit
                            if(role.permissions.includes('product_category_delete') )
                                button(class="btn btn-danger btn-sm ml-1" button-delete data-id=item._id)
                                    i.fas.fa-trash
                    
            if item.children && item.children.length > 0
                +table-tree(item.children, level + 1)