extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main
    +alert-success(5000)
    
    .container.my-5
        .detail-card
            if role
                h1.mb-4.text-primary Chi tiết: #{role.title}
                
                .row
                    //- Cột trái: Thông tin cơ bản
                    .col-md-6
                        .info-box
                            h5.mb-3 Thông tin chung
                            p <b>Mô tả:</b>
                            .description-box.bg-light.p-3.border.rounded
                                | !{role.description || "<i>Không có mô tả</i>"}

                    //- Cột phải: Log hệ thống
                    .col-md-6
                        .history-box
                            h5.mb-3 Thông tin hệ thống
                            
                            .mt-3.pt-2.border-top
                                if role.createdBy && role.createdBy.account_id
                                    p <b>Người tạo:</b> #{role.createdBy.account_id.fullname}
                                    p.small.text-muted #{moment(role.createdBy.createdAt).format('DD/MM/YYYY HH:mm')}
                                else
                                    p.text-muted Người tạo: Chưa có thông tin

                            .mt-3
                                b Lịch sử cập nhật:
                                if role.updatedBy && role.updatedBy.length > 0
                                    each item in role.updatedBy
                                        if item.account_id
                                            .history-item.small.border-bottom.py-2
                                                div <b>#{item.account_id.fullname}</b>
                                                div.text-muted #{moment(item.updatedAt).fromNow()}
                                else
                                    p.text-muted.small Chưa có cập nhật nào.

                //- Cụm nút bấm
                .mt-4.pt-3.border-top
                    if(role.permissions.includes('role_edit'))
                        a(href=`${prefixAdmin}/roles/edit/${role._id}` class="btn btn-warning mr-2") 
                            i.fa.fa-edit.mr-1
                            | Chỉnh sửa
                    a(href=`${prefixAdmin}/roles` class="btn btn-secondary") 
                        i.fa.fa-arrow-left.mr-1
                        | Quay lại
            else
                .alert.alert-warning Vai trò không tồn tại!
                a(href=`${prefixAdmin}/roles` class="btn btn-secondary") 
                    i.fa.fa-arrow-left.mr-1
                    | Quay lại danh sách