mixin boxSearch(keyword)
      form(
          id="form-search"
        method="get"
        action="/search"
     )
        .input-group
            input(
                type="text"
                placeholder=`Tìm kiếm sản phẩm...`
                name="keyword"
                class="form-control"
                value = keyword
            )
            .input-group-append
                button(type="submit" class="btn btn-primary") Tìm
