extends ../../layouts/default.pug

block main
  .container.my-5
        .row.justify-content-center
            .col-md-6
                h2(class="text-success mb-3") Nhập mật khẩu mới
                form(action="/user/password/reset-password" method="POST")
                    div(class="mb-4")
                        label(for="password" class="form-label fw-bold") Mật khẩu mới
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="••••••••"
                            required
                        )
                    div(class="mb-4")
                        label(for="confirmPassword" class="form-label fw-bold") Xác nhận mật khẩu mới
                        input(
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            class="form-control"
                            placeholder="••••••••"
                            required
                        )
                    button(type="submit" class="btn btn-success w-100 mb-3") Xác nhận thay đổi