extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
block main
    +alert-error(5000)
    +alert-success(5000)
    .container.my-5
        div(class="alert alert-success mb-4" role="alert")
        | Trang thái đơn hàng:
            if order.status == 'pending'
                span.badge.badge-warning Đang chờ
            else if order.status == 'confirmed'
                span.badge.badge-info Đã xác nhận
            else if order.status == 'shipped'
                span.badge.badge-primary Đang giao
            else if order.status == 'delivered'
                span.badge.badge-success Đã giao
            else
                span.badge.badge-danger Người mua đã hủy
        h4(class="mb-3 font-weight-bold") Thông tin người mua hàng
        table(class="table table-bordered align-middle mb-5")
            tbody
                tr
                td(style="width: 30%;" class="fw-bold bg-light") Họ tên
                td #{order.userInfor.fullname}
                tr
                td(class="fw-bold bg-light") Số điện thoại
                td #{order.userInfor.phone}
                tr
                td(class="fw-bold bg-light") Địa chỉ
                td #{order.userInfor.address}
        h4(class="mb-3 font-weight-bold") Thông tin đơn hàng
        if order && order.products && order.products.length > 0
            if(order.products.product_id === null)
                p(class="text-center") Sản phẩm không tồn tại
            else
                table(class="table table-bordered text-center align-middle")
                    thead(class="table-light")
                        tr
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền
                    tbody
                        each item, index in order.products
                            tr
                                td #{index + 1}
                                td
                                img(src=item.product_id.thumbnail, alt=item.product_id.title, width="80px")
                                td(class="text-start") #{item.product_id.title}
                                td #{item.priceNew}$
                                td #{item.quantity}
                                td #{item.priceNew * item.quantity}$
                .text-end.mt-4
                    h3 Tổng đơn hàng: 
                        span(class="fw-bold") #{order.totalPrice}$
        else
            p(class="text-center") Không có đơn hàng nào được tìm thấy.
            .text-center.mt-5
                a(href=`${prefixAdmin}/orders` class="btn btn-primary") Quay lại