.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) 
                    i.fa-solid.fa-users.fa-fw
                    | Chào mừng!
                    |  #{role.title}
            li
                a(href=`${prefixAdmin}/dashboard`) 
                    i.fa-solid.fa-gauge.fa-fw
                    | Tổng quan

            if(role.permissions.includes("product_view"))
                li 
                    a(href=`${prefixAdmin}/products`) 
                        i.fa-solid.fa-box.fa-fw
                        | Quản lý sản phẩm
                    ul 
                        li 
                            a(href=`${prefixAdmin}/products/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("product_category_view"))
                li
                    a(href=`${prefixAdmin}/product-categories`) 
                        i.fa-solid.fa-layer-group.fa-fw
                        | Danh mục sản phẩm
                    ul 
                        li 
                            a(href=`${prefixAdmin}/product-categories/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("role_view"))
                li 
                    a(href=`${prefixAdmin}/roles`) 
                        i.fa-solid.fa-user-shield.fa-fw
                        | Nhóm quyền
                    ul 
                        li 
                            a(href=`${prefixAdmin}/roles/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("permission"))
                li
                    a(href=`${prefixAdmin}/roles/permissions`) 
                        i.fa-solid.fa-key.fa-fw
                        | Phân quyền

            if(role.permissions.includes("account_view"))
                li
                    a(href=`${prefixAdmin}/accounts`) 
                        i.fa-solid.fa-user-tie.fa-fw
                        | Quản lý tài khoản
                    ul 
                        li 
                            a(href=`${prefixAdmin}/accounts/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("user_view"))
                li
                    a(href=`${prefixAdmin}/users`) 
                        i.fa-solid.fa-users.fa-fw
                        | Người dùng
                    ul 
                        li 
                            a(href=`${prefixAdmin}/users/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("order_view"))
                li
                    a(href=`${prefixAdmin}/orders`) 
                        i.fa-solid.fa-cart-shopping.fa-fw
                        | Quản lý đơn hàng
                    ul 
                        li 
                            a(href=`${prefixAdmin}/orders/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("blog_view"))
                li
                    a(href=`${prefixAdmin}/posts`) 
                        i.fa-solid.fa-newspaper.fa-fw
                        | Quản lý bài viết
                    ul 
                        li 
                            a(href=`${prefixAdmin}/posts/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("post_category_view"))
                li
                    a(href=`${prefixAdmin}/post-categories`) 
                        i.fa-solid.fa-folder-open.fa-fw
                        | Danh mục bài viết
                    ul 
                        li 
                            a(href=`${prefixAdmin}/post-categories/recycle-bin`) 
                                i.fa-solid.fa-trash.fa-fw
                                | Thùng rác

            if(role.permissions.includes("setting_general_view"))
                li
                    a(href=`${prefixAdmin}/settings/general`) 
                        i.fa-solid.fa-gear.fa-fw
                        | Cài đặt chung